In [22]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pandas_profiling
white_wine_df = pd.read_csv("../../data/raw/winequality-white.csv", sep=";")
white_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

## Processing White wine Data Set

In [3]:
if len(white_wine_df[white_wine_df.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(white_wine_df[white_wine_df.duplicated()]))
    print(white_wine_df[white_wine_df.duplicated(keep=False)].sort_values(by=list(white_wine_df.columns)).head())
else:
    print("No duplicated entries found")

No. of duplicated entries:  937
      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
4671            4.9             0.335         0.14             1.3      0.036
4672            4.9             0.335         0.14             1.3      0.036
3941            4.9             0.345         0.34             1.0      0.068
3950            4.9             0.345         0.34             1.0      0.068
2990            5.0             0.270         0.32             4.5      0.032

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
4671                 69.0                 168.0  0.99212  3.47       0.46
4672                 69.0                 168.0  0.99212  3.47       0.46
3941                 32.0                 143.0  0.99138  3.24       0.40
3950                 32.0                 143.0  0.99138  3.24       0.40
2990                 58.0                 178.0  0.98956  3.45       0.31

        alcohol  quality
4671  10.466667        5
4672  10.466667        5
3941  10.100000        5
3950  10.100000        5
2990  12.600000        7

In [8]:
white_wine_df.drop_duplicates(keep= 'last')

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
5,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
6,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.99490,3.18,0.47,9.6,6
7,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
8,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [23]:
import sys, os
sys.path.insert(0, os.path.abspath('..'))
from scripts.project_functions import *

white_wine_df = load_and_process("../../data/raw/winequality-white.csv", ";")
white_wine_df.head()

ModuleNotFoundError: No module named 'scripts.project_functions'

## Processing Red wine Data Set

In [18]:
red_wine_df = pd.read_csv("../../data/raw/winequality-red.csv", sep=";")

red_wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [7]:
if len(red_wine_df[red_wine_df.duplicated()]) > 0:
    print("No. of duplicated entries: ", len(red_wine_df[red_wine_df.duplicated()]))
    print(red_wine_df[red_wine_df.duplicated(keep=False)].sort_values(by=list(red_wine_df.columns)).head())
else:
    print("No duplicated entries found")

No. of duplicated entries:  240
      fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
142             5.2              0.34         0.00             1.8      0.050
144             5.2              0.34         0.00             1.8      0.050
131             5.6              0.50         0.09             2.3      0.049
132             5.6              0.50         0.09             2.3      0.049
1488            5.6              0.54         0.04             1.7      0.049

      free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
142                  27.0                  63.0   0.9916  3.68       0.79
144                  27.0                  63.0   0.9916  3.68       0.79
131                  17.0                  99.0   0.9937  3.63       0.63
132                  17.0                  99.0   0.9937  3.63       0.63
1488                  5.0                  13.0   0.9942  3.72       0.58

      alcohol  quality
142      14.0        6
144      14.0        6
131      13.0        5
132      13.0        5
1488     11.4        5

In [19]:
import sys, os
sys.path.insert(0, os.path.abspath('..'))
from scripts.project_functions import *

red_wine_df = load_and_process("../../data/raw/winequality-red.csv", ";")
red_wine_df.head()

ModuleNotFoundError: No module named 'scripts.project_functions'